thesis-example-blx.bib
thesis-example.aux
thesis-example.bbl
thesis-example.blg
thesis-example.dvi
thesis-example.fdb_latexmk
thesis-example.fls
thesis-example.lof
thesis-example.log
thesis-example.lot
thesis-example.out
thesis-example.pdf
thesis-example.run.xml
thesis-example.toc
